<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.joinMapper">
	<insert id="memjoin" parameterType="model.MemberDTO">
		insert into member(
		MEM_ID , MEM_NICK , MEM_PW ,
		MEM_NAME, MEM_ADDR, MEM_POSTNUMBER,
		MEM_DETAILADD,MEM_PHONE,MEM_REPORTED_COUNT
		)
		values(
		#{memId},#{memNick},#{memPw},
		#{memName},#{memAddr},#{memPostNumber},
		<if test="memDetailAdd == null">null</if>
		<if test="memDetailAdd != null">#{memDetailAdd}</if>
		,#{memPhone},0
		)
	</insert>
	
	<select id="idck" parameterType="string" resultType="authinfo.AuthinfoDTO">
		select MEM_ID userId
		from member
		where MEM_ID=#{userId}
	</select>
	
	<select id="myInfo" parameterType="string"
		resultType="model.MemberDTO">
		select MEM_ID memId, MEM_PW memPw, MEM_NAME memName, MEM_NICK memNick,
		MEM_ADDR memAddr,
		MEM_POSTNUMBER memPostNumber, MEM_DETAILADD memDetailAdd, MEM_PHONE memPhone
		from member
		where MEM_ID = #{memId}
	</select>
	<update id="memUpdate" parameterType="model.MemberDTO">
		update member
		set MEM_NICK = #{memNick}, MEM_POSTNUMBER = #{memPostNumber},
		MEM_ADDR=#{memAddr},
		MEM_DETAILADD = #{memDetailAdd}, MEM_PHONE = #{memPhone}
		where mem_id = #{memId}
	</update>
	<update id="memImageRegist" parameterType="model.MemberDTO">
		update member
		set MEM_IMAGE = #{memImage}
		where mem_id = #{memId}
	</update>
	<select id="relogin" parameterType="model.MemberDTO" resultType="authinfo.AuthinfoDTO">
		select MEM_ID userId, MEM_PW userPw,MEM_NICK userNick,MEM_IMAGE memImage, 1 grade
		from member
		where MEM_ID = #{memId}
	</select>
</mapper>