<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employeeMapper">
	<insert id="empRegist" parameterType="model.EmployeeDTO">
		insert into employees(
		EMP_ID,EMP_PW,EMP_NAME,EMP_NICK
		)
		values(
		#{empId},#{empPw},#{empName},#{empNick}
		)
	</insert>
</mapper>