<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.oneononeMapper">

	<sql id="oneononeNum">
		select nvl(max(ONEONONE_NUM),0) + 1 from ONEONONE
	</sql>

	<select id="oneononeList" resultType="model.OneOnOneDTO"
		parameterType="string">
		select
		ONEONONE_SUB oneononeSub, ONEONONE_CONTENTS
		oneononeContents, MEM_NAME memName,
		MEM_ID memId, ONEONONE_DATE
		oneononeDate, ONEONONE_NUM oneononeNum
		from oneonone where mem_Id = #{memId}
		
		order by ONEONONE_NUM desc
	</select>
	
	<select id="count" resultType="int">
	select count(*) from oneonone
	</select>
	
	<select id="oneononeEmployeeList" resultType="model.OneOnOneDTO"
		parameterType="model.OneOnOneDTO">
		select
		rn,oneononeSub,oneononeContents,memName,
		memId,oneononeDate,oneononeNum
		from
		(select ROWNUM rn,ONEONONE_SUB oneononeSub, ONEONONE_CONTENTS
		oneononeContents, MEM_NAME memName,
		MEM_ID memId, ONEONONE_DATE
		oneononeDate, ONEONONE_NUM oneononeNum
		from (select * from oneonone order by ONEONONE_NUM desc))
		where rn between #{startEndPageDTO.startRow} and #{startEndPageDTO.endRow}
	</select>

	<insert id="oneononeRegist" parameterType="model.OneOnOneDTO">
		insert into oneonone
		(
		ONEONONE_SUB, ONEONONE_CONTENTS, MEM_NAME,
		ONEONONE_DATE,ONEONONE_NUM,ONEONONE_PHNUMBER,MEM_ID,ONEONONE_SUBMIT
		)
		values
		(
		#{oneononeSub},#{oneononeContents},#{memName},
		sysdate,(
		<include refid="oneononeNum" />
		),#{oneononePhnumber},#{memId},'답변 대기중'
		)
	</insert>
	<select id="oneononeEmployeeDetail" parameterType="int" resultType="model.OneOnOneDTO">
		select
		ONEONONE_SUB oneononeSub, ONEONONE_CONTENTS
		oneononeContents, MEM_NAME memName,
		MEM_ID memId, ONEONONE_DATE
		oneononeDate, ONEONONE_NUM oneononeNum,
		ONEONONE_SUBMIT oneononeSubmit
		from oneonone where ONEONONE_NUM
		= #{oneononeNum}
	</select>
	<select id="oneononeDetail" parameterType="int" resultType="model.OneOnOneDTO">
		select
		ONEONONE_SUB oneononeSub, ONEONONE_CONTENTS
		oneononeContents, MEM_NAME memName,
		MEM_ID memId, ONEONONE_DATE
		oneononeDate, ONEONONE_NUM oneononeNum,
		ONEONONE_SUBMIT oneononeSubmit
		from oneonone where ONEONONE_NUM
		= #{oneononeNum}
	</select>
	<delete id="oneononeDelete" parameterType="int">
		delete from oneonone
		where ONEONONE_NUM
		= #{oneononeNum}
	</delete>
	
	<update id="oneononeUpdate" parameterType="model.OneOnOneDTO">
		update oneonone
		set ONEONONE_SUBMIT = #{oneononeSubmit}
		where ONEONONE_NUM = #{oneononeNum}
	
	</update>
</mapper>