<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="productMapper">
	<sql id="prodNum">
   		select nvl(max(PROD_NUM),100000) + 1 from PRODUCTS
	</sql>
	<insert id="productRegist" parameterType="model.ProductDTO">
		    insert into products
		    (
		    PROD_NUM,MEM_ID,PROD_NAME,PROD_PRICE,
		    PROD_IMAGE,PROD_IMAGE2,PROD_IMAGE3,PROD_DETAIL,
		    PROD_BRAND,PROD_KIND,PROD_LOCATION,PROD_GUARANTEE,
		    PROD_DATE,PROD_METHOD,PROD_STATE,PROD_QUANTITY
		    )
    		values
    		(
    		(<include refid="prodNum"/>),#{memId},#{prodName},#{prodPrice},
    		<if test="prodImage != null">#{prodImage}</if>
			<if test="prodImage == null">null</if>,
    		<if test="prodImage2 != null">#{prodImage2}</if>
			<if test="prodImage2 == null">null</if>,
    		<if test="prodImage3 != null">#{prodImage3}</if>
			<if test="prodImage3 == null">null</if>,
    		<if test="prodDetail != null">#{prodDetail}</if>
			<if test="prodDetail == null">null</if>,
    		#{prodBrand},#{prodKind},#{prodLocation},#{prodGuarantee},
    		sysdate,#{prodMethod},#{prodState},#{prodQuantity}
    		)
	</insert>
	
	
	<select id="productList" resultType="model.ProductDTO" parameterType="model.ProductDTO">
		select PROD_NUM prodNum, MEM_ID memId, PROD_NAME prodName, PROD_PRICE prodPrice, 
			PROD_IMAGE prodImage, PROD_DETAIL prodDetail,
			PROD_BRAND prodBrand, PROD_KIND prodKind, PROD_LOCATION prodLocation,
			PROD_GUARANTEE prodGuarantee, PROD_DATE prodDate, PROD_METHOD prodMethod,
			PROD_STATE prodState, PROD_QUANTITY prodQuantity, PROD_IMAGE prodImage,
			PROD_IMAGE2 prodImage2, PROD_IMAGE3 prodImage3
			from products
	</select>
	 
	
</mapper>