<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="productMapper">
	<insert id="productRegist" parameterType="model.ProductDTO">
		    insert into products
		    (prod_name,prod_price,prod_detail,prod_location,prod_image)
    		values
    		(#{prodName},#{prodPrice},#{prodContext},#{prodLocation},#{prodImage})
	</insert>
</mapper>