<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="productMapper">
	<sql id="prodNum">
   		select nvl(max(PROD_NUM),0) + 1 from PRODUCTS
	</sql>
	<insert id="productRegist" parameterType="model.ProductDTO">
		    insert into products
		    (
		    prod_num,mem_id,prod_name,
		    prod_price,prod_image,prod_detail,
		    prod_date,prod_hits,prod_method,
		    prod_state,prod_heart_count,prod_location,
		    btgr_id,stgr_id,brand_ctgr_id,
		    prod_tag,prod_image_plus
		    )
    		values
    		(
    		(<include refid="prodNum"/>),#{memId},#{prodName},
    		#{prodPrice},'image1',#{prodDetail},
    		sysdate,0,'meet',
    		'0',0,#{prodLocation},
    		0,0,0,
    		#{prodTag},'image3'
    		)
	</insert>
</mapper>