<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.product.ProductListController" />
	<bean class="controller.product.ProductRegisterController" />
	<bean class="controller.product.WishlistController" />
	<bean class="controller.product.ProductDetailController" />
	<bean class="controller.product.ProductModifyController" />
	<bean class="controller.product.ProductDelController" />
	
	
	<bean class="service.product.ProductRegistService" />
	<bean class="service.product.ProductDelService" />
	<bean class="service.product.ProductListService" />
	<bean class="service.product.ProductDetailService" />
	<bean class="service.product.ProductModifyService" />
	<bean class="service.product.WishService" />
	
	<bean class="repository.ProductRepository" />
	<bean class="repository.WishRepository" />
	
</beans>