<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>


	<bean class="controller.member.MemberListController" />	
	<bean class="service.member.MemberListService" />	
	<bean class="service.member.MemberInfoService" />	
	<bean class="service.member.MemberListSearchService" />	
	<bean class="service.member.MemberDeleteService" />	
	<bean class="repository.MemberListRepository" />
	
</beans>