<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			">
	<bean class="controller.login.LoginController" />
	<bean class="controller.login.LoginPageController" />
	<bean class="service.login.LoginService" />
	<bean class="repository.LoginRepository" />
	<bean class="controller.login.FindIdController" />
	<bean class="controller.login.FindPwController" />
	<bean class="service.login.FindIdService" />
	<bean class="service.login.FindPwService" />
	<bean class="service.login.SmsCheckService" />
</beans>