<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>

	<bean class="controller.notice.NoticeController" />	
	<bean class="service.notice.NoticeListService" />
	<bean class="service.notice.NoticeJoinService" />
	<bean class="service.notice.NoticeDetailService" />
	<bean class="service.notice.NoticeDeleteService" />
	<bean class="service.notice.NoticeModifyService" />
	<bean class="repository.NoticeRepository" />
</beans>