<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.noticeMapper">

	<select id="noticeList" resultType="model.NoticeDTO" parameterType="model.NoticeDTO">
	select rn, noticeNum, noticeSub, noticeContents, noticeDate, noticeHits, noticeEmpId, noticeKind
		from 	
		(select ROWNUM rn, NOT_NUM noticeNum, NOT_SUB noticeSub, NOT_CONTENTS noticeContents, NOT_DATE noticeDate,
		NOT_HITS noticeHits, EMP_ID noticeEmpId, NOT_KIND noticeKind from (select * from notice order by NOT_DATE desc))	
	where rn between #{startEndPageDTO.startRow} and #{startEndPageDTO.endRow} 
	</select>


<select id="count" resultType="int">
	select count(*) from notice
</select>

<sql id="noticeNum">
	select nvl(max(NOT_NUM),0) + 1 from notice
</sql>

<insert id="noticeInsert" parameterType="model.NoticeDTO">
	insert into notice	
	(NOT_NUM, NOT_SUB, NOT_CONTENTS, NOT_DATE, NOT_HITS, EMP_ID, NOT_KIND)
	values	
	((<include refid="noticeNum"/>),#{noticeSub},#{noticeContents},sysdate,0,#{noticeEmpId},#{noticeKind})
</insert>


<update id="noticeReadCount" parameterType="string">
	update notice
	set NOT_HITS = NOT_HITS + 1
	where NOT_NUM = #{noticeNum}
</update>

<select id="noticeDetail" parameterType="string" resultType="model.NoticeDTO">
	select NOT_NUM noticeNum, NOT_SUB noticeSub, NOT_CONTENTS noticeContents, NOT_DATE noticeDate,
	NOT_HITS noticeHits, EMP_ID noticeEmpId, NOT_KIND noticeKind
	from notice
	where NOT_NUM = #{noticeNum}
</select>

<update id="noticeModify" parameterType="model.NoticeDTO">
	update notice 
	set NOT_SUB =#{noticeSub},NOT_CONTENTS=#{noticeContents},NOT_KIND=#{noticeKind}, EMP_ID=#{noticeEmpId}
 	where NOT_NUM = #{noticeNum}
</update>

<delete id="noticeDelete" parameterType="string">
	delete from notice
	where NOT_NUM = #{noticeNum}
</delete>


</mapper>