<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.memberListMapper">
	
	
<select id="memList" resultType="model.MemberDTO" parameterType="model.MemberDTO">
	select rn, noticeNum, noticeSub, noticeContents, noticeDate, noticeHits, noticeEmpId, noticeKind
	from 	
		(select ROWNUM rn, NOT_NUM noticeNum, NOT_SUB noticeSub, NOT_CONTENTS noticeContents, NOT_DATE noticeDate,
		NOT_HITS noticeHits, EMP_ID noticeEmpId, NOT_KIND noticeKind from (select * from notice order by NOT_DATE desc))		
	where rn between #{startEndPageDTO.startRow} and #{startEndPageDTO.endRow} 

</select>	

	
<select id="count" resultType="int">
	select count(*) from member
</select>



</mapper>