<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.sellMapper">
	
 
<select id="sellList" resultType="model.ProductDTO" parameterType="string">
	select PROD_NAME prodName,PROD_PRICE prodPrice,
	PROD_IMAGE prodImage,PROD_DATE prodDate,
	PROD_STATE prodState, PROD_NUM prodNum
	from products
	where  MEM_ID=#{userId} 	
</select>	


</mapper>